.navbar-sticky {
   background-color: rgba(25, 25, 25, 0.9);
   color: white;

   transition: all 0.3s ease-in-out;
}

footer .h1 {
   display: inline-block;
}

.hero-section .carousel-caption {
   background-color: rgba($color: #000000, $alpha: 0.5);
}
