:root {
   --main-color: rgba(223, 139, 25, 1);
   --main-color-hover: rgba(223, 139, 25, 0.5);
   --black-color: rgba(25, 25, 25, 1);
   --white-color: rgba(255, 255, 255, 1);
   --brown-color: rgba(168, 83, 37, 1);

   --font-size--xs: 8px;
   --font-size--sm: 12px;
   --font-size--md: 16px;
   --font-size--lg: 24px;
   --font-size--xl: 36px;
   --font-size--h1: 75px;

   /* SPACING */
   --spacing-xs: 4px;
   --spacing-sm: 8px;
   --spacing-md: 16px;
   --spacing-lg: 32px;
   --spacing-xl: 64px;
}

body {
   font-family: 'Raleway', sans-serif;
   position: relative;
   padding: 0;
   margin: 0;
}

.padding-2 {
   padding: 0 2%;
}

.background-main-color {
   background-color: var(--main-color);
}

/* Navbar */
.nav-section {
   --nav-size: 50px;
   padding-top: 125px;
}

nav {
   min-height: var(--nav-size);
}

.navbar {
   padding: 0 var(--spacing-lg);
   height: 100%;
   display: flex;
   justify-content: space-between;
}

.navbar .left-side {
   position: relative;
}

.navbar .left-side a {
   position: absolute;
   left: 0;
   top: -105px;
}

.navbar .left-side img {
   width: 250px;
   height: 190px;
}

.navbar .right-side {
   height: var(--nav-size);
   display: flex;
   align-items: center;
   justify-content: center;
}

.navbar .right-side ul {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   justify-content: space-between;
}

.navbar .right-side ul li {
   margin: 0 var(--spacing-md);
}

.navbar .right-side a {
   color: var(--black-color);
   text-decoration: none;
   text-transform: uppercase;
   font-size: var(--font-size-md);
   font-weight: 600;
}

/* Social Section */
.social-section {
   font-size: 35px;
   font-weight: 700;
   font-family: "Swanky and Moo Moo", cursive;
   color: var(--main-color);
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.social-section p {
   padding: var(--spacing-md);
   margin: 0;
   line-height: 1.4em;
}

.social-section a {
   padding: 0 0 0 20px;
   color: var(--main-color);
}

.social-section a:hover {
   padding: 0 0 0 20px;
   color: var(--main-color-hover);
}

/* Hero Section */
.hero-section {
   position: relative;
   height: fit-content;
}

.hero-section .hero-section-text {
   position: absolute;
   left: 10px;
   top: 50px;
   z-index: 1;
}

.hero-section h1 {
   font-family: 'Abril Fatface', serif;
   font-size: var(--font-size--h1);
   line-height: 1;
   color: var(--main-color);
   margin: 0;
}

.hero-section p {
   font-size: 28px;
   color: var(--main-color);
   margin: 0;
}

.hero-section img {
   width: 100%;
}
