.btn {
   border: 2px solid black;
   padding: 10px 20px;
   margin-top: 30px;
   display: inline-block;
   background-color: white;
   color: orangered;

   /* transition: color 0.5s, background-color 1s; */
   transition: all 0.5s;

   /* all - which element should be transitioned, 500ms - length of the transition, ease-in - transition algorythm, 1s - transition delay */
   /* transition: all 500ms ease-in 1s; */
}

.btn:hover {
   background-color: orangered;
   color: white;
   scale: 1.1;
   /* transform: translateX(100px); */
}

.box {
   width: 100px;
   height: 100px;
   background-color: gold;
}

.box:hover {
   transform: rotate(45deg);transform-origin: bottom right;
}
