/* Element selector */
div {
   color: red;
   border: 1px solid blue;
   border-radius: 6px;
   margin: 6px;
   padding: 6px;

   font-family: Arial, Helvetica, sans-serif, Times, serif;
}

h1 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 46px;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
}

a {
   font-style: italic;
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 10px;
   word-spacing: 20px;
   text-transform: capitalize;
   text-decoration: underline underline 1px;
   transition: .5s;
}

a:hover {
   color: magenta;
   text-decoration: underline wavy 1px;
}

a:visited {
   color: orange;
}

h2 {
   text-shadow: 2px 2px 5px magenta;
}

p {
   line-height: 2;
}

/* ID selector */
#featured {
   background-color: gold;
   font-size: 20px;
}

#cast {
   list-style-type: "\1F44D";
}

/* Class selector */
.tag {
   text-decoration: none;
   background-color: black;
   color: white;
}

/* Universal selector */
* {
   /* affects all elements */
   font-family: 'Courier New', Courier, monospace;
}

/* Attribute selector */
input[type="email"] {
   background-color: gold;
}

a[href*="wiki"] {
   /* href which contains wiki anywhere in it */
   color: red;
}

a[href^="#"] {
   /* href which starts with a # sign */
   color: green;
}

a[href$=".org"] {
   /* href which end with .org */
   color: blue;
}

/* Selector list */
h2,
h3 {
   font-style: italic;
}

/* Descendant combinator */
div h2 {
   /* selects h2-s that are in a div */
   font-size: large;
}

/* Child combinator */
ul>li {
   /* select li-s that are direct children of a ul */
   font-size: small;
}

/* Compound selector */
div.special {
   /* selects the div-s with the class of special */
   text-align: center;
}

/* Adjacent combinator */
h1+p {
   /* selects a paragraph that comes immediately after an h1 */
   background-color: deeppink;
}

/* Sibling combinator */
h1~p {
   /* selects all paragraph that come immediately after an h1 */
   display: inline-block;
}

/* Pseudo classes */
button:hover {
   color: blue;
}

input:disabled {
   border: 1px solid aqua;
}

li:nth-of-type(2n) {
   /* Every second li */
   margin: 5px;
}

div:not(.box) {
   /* Every div, which does not have the box class */
   box-shadow: 5px 5px 3px gray;
}

/* etc... */

/* Pseudo elements */
p::first-line {
   /* The first line of every paragraph */
   color: greenyellow;
}

input::placeholder {
   opacity: .5;
}

p::selection {
   /* Changes the style of the part of the paragraph which is selected by the user */
   background-color: brown;
}

/* etc... */

/* Specificity - Selector priority */
/* Element -> Class -> ID -> Inline style */
/* Least priorty ------> Most priority */
