body {
   background-color: rgb(233, 223, 255);
   color: rgb(44, 44, 44);
   font-family: 'Open Sans', sans-serif;
   padding: 32px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

h1 {
   color: rgb(83, 49, 156);
   margin: 32px 0 64px 0;
}

.container {
   background-color: white;
   width: 100%;
   max-width: 900px;
   box-sizing: border-box;
   border-radius: 20px;
   padding: 0 64px 64px 64px;
   position: relative;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.tabs {
   width: 100%;
   padding: 16px;
   text-transform: uppercase;
   font-weight: bold;
   color: rgb(200, 175, 255);

   display: flex;
   justify-content: space-around;
}

.tabs p {
   padding: 8px;
}

.tabs .active {
   color: rgb(83, 49, 156);
   position: relative;
}

.tabs .active::before {
   content: "";
   width: 200%;
   height: 5px;
   background-color: rgb(83, 49, 156);
   position: absolute;
   bottom: -34px;
   left: -50%;
   z-index: 2;
   border-radius: 10px;
}

.tabs p:hover {
   color: rgb(83, 49, 156);
   cursor: pointer;
}

.underline {
   height: 4px;
   background-color: purple;
   width: 200px;
   display: inline-block;
   position: absolute;
   bottom: 0;
   left: 0;

}

.line {
   height: 3px;
   width: 100%;
   position: absolute;
   top: 100px;
   background-color: rgb(231, 231, 231);
}

.toggle-wrapper {
   margin-top: 35px;

   display: flex;
   align-items: center;
}

.toggle-wrapper img {
   height: 40px;
   margin: 0 16px;
}

.toggle {
   background-color: rgb(83, 49, 156);
   height: 32px;
   width: 140px;
   border-radius: 20px;
   box-sizing: border-box;
   padding: 0 4px 0 16px;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 12px;

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.toggle span:first-of-type {
   color: white;
}

.toggle span:last-of-type {
   background-color: white;
   color: rgb(83, 49, 156);
   padding: 4px 16px;
   border-radius: 20px;
}

.session-card {
   background-color: rgb(250, 247, 255);
   text-align: center;
   margin: 16px 0;
   padding: 32px;
   width: 50%;
   border-radius: 10px;
   text-transform: uppercase;
}

.session-card p {
   color: rgb(44, 44, 44);
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 16px 0 0 0;
}

.session-card .number {
   color: rgb(83, 49, 156);
   font-size: 54px;
   margin: 0;
}

.description {
   margin: 16px 0;
   line-height: 32px;
}

.slider {
   width: 100%;
   position: relative;
   margin-bottom: 16px;
}

.slider .bar {
   width: 100%;
   height: 16px;
   background-color: rgb(248, 248, 248);
   border: 1px solid rgb(210, 210, 210);
   border-radius: 20px;
}

.slider .progress {
   width: 31%;
   height: 18px;
   background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(51, 10, 74, 1) 36%, rgba(83, 49, 156, 1) 100%);
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;

   position: absolute;
   top: 0;
   left: 0;
}

.slider .point {
   height: 24px;
   width: 24px;
   background-color: rgb(83, 49, 156);
   border-radius: 50%;
   border: 2px solid white;

   position: absolute;
   top: -5px;
   left: 29%;

   transition: 0.1s;
}

.slider .point:hover {
   cursor: pointer;
   scale: 1.1;
}

.slider .scale {
   width: 100%;
}

.slider .scale ul {
   list-style: none;
   padding: 0;
   font-weight: bold;
   color: rgb(166, 166, 166);
   text-transform: uppercase;

   display: flex;
   justify-content: space-between;
}

.card-wrapper {
   display: flex;
}

.card-wrapper .card {
   background-color: rgb(250, 247, 255);
   color: rgb(83, 49, 156);
   border-radius: 16px;
   margin: 16px;
   padding: 16px 32px;
   box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.1);
   text-align: center;
   font-weight: bold;
   position: relative;

   transition: 0.1s;
}

.card-wrapper .card:hover {
   transform: translateY(-8px);
}

.card-wrapper .card .top-section {
   padding: 8px;
   text-transform: uppercase;
}

.card-wrapper .card .top-section p {
   margin: 4px 0;
}

.card-wrapper .card hr {
   width: 30%;
   border: 1px solid rgb(210, 210, 210);
   border-radius: 2px;
}

.card-wrapper .card .price {
   font-size: 42px;
   color: rgb(44, 44, 44);
}

.card-wrapper .card button {
   border: none;
   color: white;
   background-color: rgb(83, 49, 156);
   padding: 16px;
   border-radius: 10px;
}

.card-wrapper .card button {
   border: none;
   color: white;
   background-color: rgb(83, 49, 156);
   padding: 16px;
   border-radius: 10px;
   font-weight: bold;
   margin: 8px 0;

   transition: 0.1s;
}

.card-wrapper .card button:hover {
   cursor: pointer;
   scale: 1.05;
}

.card-wrapper .card .top-section .save {
   color: white;
   background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(51, 10, 74, 1) 36%, rgba(83, 49, 156, 1) 100%);
   width: 100%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;

   position: absolute;
   top: -24px;
   left: 0;
}

@media only screen and (max-width: 800px) {
   .card-wrapper {
      flex-wrap: wrap-reverse;
   }

   .card-wrapper .card {
      width: 100%;
      margin-top: 30px;
   }

   .session-card {
      width: 100%;
      box-sizing: border-box;
   }
}

@media only screen and (max-width: 600px) {
   body {
      padding: 8px 16px;
   }

   h1 {
      margin: 0 0 16px 0;
   }

   .tabs p {
      font-size: 0.75rem;
   }

   .container {
      padding: 0 16px;
   }

   .toggle-wrapper {
      width: 90%;
      justify-content: space-around;
   }

   .slider .scale ul li:nth-of-type(2n) {
      display: none;
   }
}
