/* PC */
@media only screen and (max-width: 1300px) {
   /* GENERAL */
   :root {
      --primary-margin: 0 10%;
   }

   /* INDEX - ABOUT US SECTION */
   #about-us-image {
      left: -250px;
   }
}

@media only screen and (max-width: 950px) {
   /* INDEX - HERO SECTION */
   .hero .row .col-1 {
      width: 100%;
   }

   /* INDEX - ABOUT US SECTION */
   #about-us-image {
      left: -350px;
   }
}

/* TABLET */
@media only screen and (max-width: 768px) {
   /* GENERAL */
   :root {
      --primary-margin: 0 5%;
   }

   h1 {
      font-size: var(--font-size--h1-tb);
   }

   h2 {
      font-size: var(--font-size--h2-tb);
   }

   /* NAV BAR */
   nav ul {
      display: none;
   }

   nav .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   /* INDEX - HERO SECTION */
   .hero {
      background-image: linear-gradient(
            to right,
            rgba(34, 34, 34, 1) 50%,
            rgba(34, 34, 34, 0)
         ),
         url(/Images/Hero_image.jpg);
   }

   /* INDEX - SERVICES SECTION */
   .services .card-container {
      flex-wrap: wrap;
   }

   .services .card {
      width: 100%;
   }

   /* INDEX - ABOUT US SECTION */
   .about-us .card-container {
      width: 100%;
      justify-content: center;
   }

   .about-us .card {
      width: 80%;
   }

   .about-us .image-container {
      display: none;
   }

   /* INDEX - FOOTER SECTION */
   .footer .grid {
      grid-template-areas:
         "location contact social"
         "privacy privacy social";
   }

   .footer .privacy {
      grid-area: privacy;
      text-align: start;
   }

   .facebook-link:before {
      top: 0px;
      left: 0px
   }

   .linkedin-link:before {
      top: 40px;
      left: 0px;
   }

   .google-link:before {
      top: 80px;
      left: 0px;
   }

   /* FAQ SECTION */
   .faq-grid {
      grid-template-columns: 1fr;
   }
}

@media only screen and (max-width: 630px) {
   /* INDEX - ABOUT US SECTION */
   .about-us .card {
      width: 100%;
   }
}

/* PHONE */
@media only screen and (max-width: 550px) {
   /* GENERAL */
   h1 {
      font-size: var(--font-size--h1-ph-md);
   }

   h2 {
      font-size: var(--font-size--h2-ph-md);
   }

   p {
      font-size: var(--font-size--sm);
   }

   span {
      font-size: var(--font-size--sm);
   }

   /* ADDRESS BAR */
   address {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   /* INDEX - HERO SECTION */
   .hero {
      background-image: linear-gradient(
            to right,
            rgba(34, 34, 34, 1) 60%,
            rgba(34, 34, 34, 0)
         ),
         url(/Images/Hero_image.jpg);
   }

   .hero .row .col-1 .row {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
   }

   /* INDEX - ABOUT US SECTION */
   .about-us .card {
      width: 100%;
   }

   /* FOOTER SECTION */
   .footer .grid {
      grid-template-areas:
         "location contact"
         "privacy social";
   }

   .footer .social {
      height: 40px;
   }

   .facebook-link:before {
      top: 0px;
      left: 0px;
   }

   .linkedin-link:before {
      top: 0px;
      left: 40px;
   }

   .google-link:before {
      top: 0px;
      left: 80px;
   }
}

@media only screen and (max-width: 480px) {
   /* FOOTER SECTION */
   .footer .grid {
      grid-template-areas:
         "contact"
         "location"
         "privacy"
         "social";
   }
}

@media only screen and (max-width: 400px) {
   /* GENERAL */
   h1 {
      font-size: var(--font-size--h1-ph-sm);
   }

   h2 {
      font-size: var(--font-size--h2-ph-sm);
   }

   li {
      line-height: var(--font-size--md);
   }

   /* INDEX - SERVICES SECTION */
   .services .card:nth-child(2) li::before {
      position: absolute;
      top: 0px;
   }

   /* FOOTNOTES SECTION*/
   .footnotes p {
      font-size: var(--font-size--xs);
   }
}
